body{
	margin: 0;
	height: 100%
	width:100%;
}
nav{
	border-style: solid;
	border-width: 1px;
	background-color: #009688;
	border-color: #009688;
	margin-top:2%;
	margin-left: 1%;
	position: sticky;
	top:0;
}


ul{
	list-style-type: none; 
}
li{
	display: inline;
	padding-left:2%;
	line-height: 40px;
	font-size: 12pt;
	font-weight: 800;
	color:#ffffff;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; 
 
}

.content{
	margin-left: 1%;
	margin-top:1%;
}
p{
	letter-spacing: 0.5pt;
	line-height: 115%;
	word-spacing: 2pt;
}	
img{
	padding-left:25%; 
	margin-top: 1%;
	}