
body{
	background-color:#009688;
	}
.date{
	border-style: solid;
	border-width: 1px;
	margin-top:10%;
	margin-left:20%;
	height:150px;
	 
	border-color:#009688; 
}

span{
	font-size:8em;
	color:#fff;
	font-family:'Orbitron',sans-serif;
}